* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    box-shadow: 0 0 0.9375rem 0.0625rem;
    position: absolute;
    margin: auto;
    background-color: RGBA(31, 31, 31);
    padding: 1%;
    margin-top: 1.875rem;
    border-radius: 5vw;
    width: 85vw;
    transition: all 0.3s;
    z-index: 9;
}

.header.sticky {
    margin: auto;
    position: fixed;
    width: 100vw;
    transition: all 0.3s;
    border-radius: 0;
    display: flex;
    flex-direction: column-reverse;
}

body {
    background-color: rgb(31, 31, 31);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    background-attachment: fixed;
}

body > section > div {
    display: flex;
    justify-content: space-evenly;
}

header > nav > ul{
    display: flex;
    justify-content: space-around;
}

header > nav > ul > li{
    list-style-type: none;
    display: flex;
    align-items: center;
}

header > nav > ul > li > h1{
    font-size: 1.25rem;
    color: white;
}

header > nav > ul > li > span{
    display: flex;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: white;
}

section {
    height: 100vh;
}

.mdi--dot {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 10a2 2 0 0 0-2 2a2 2 0 0 0 2 2c1.11 0 2-.89 2-2a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
    width: 1.875rem;
    height: 1.875rem;
  }

main > div {
    background-color: white;
}

#inicio {
    background-color: white;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

#sobre{
    background-color: rgb(31, 31, 31);
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    background-attachment: fixed;
}

#servicos {
    background-color: white;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

#projetos {
    background-color: rgb(31, 31, 31);
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    background-attachment: fixed;
}

#contato {
    background-color: white;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}






@media screen and (max-width: 768px) {

    header {
        padding: 2.5%;
    }

    header > nav > ul > li > h1{
        font-size: 0.875rem;
    }

    header > nav > ul > li > a{
        text-decoration: none;
        color: white;
        font-size: 0.625rem;
    }

    .mdi--dot {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 10a2 2 0 0 0-2 2a2 2 0 0 0 2 2c1.11 0 2-.89 2-2a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
        width: 0.625rem;
        height: 0.625rem;
      }
    
}

@media screen and (max-width: 480px) {
    header > nav > ul > li > h1{
        font-size: 0.75rem;
    }

    header > nav > ul > li > a{
        text-decoration: none;
        color: white;
        font-size: 0.5rem;
    }

    .mdi--dot {
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 10a2 2 0 0 0-2 2a2 2 0 0 0 2 2c1.11 0 2-.89 2-2a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
        width: 0.5rem;
        height: 0.5rem;
      }
}
